name: CI

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  check:
    name: Check correctness
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: pnpm/action-setup@v4
      - uses: actions/setup-node@v6
        with:
          node-version-file: '.node-version'
          cache: 'pnpm'

      - run: pnpm install
        env:
          NODE_ENV: development
      - run: pnpm check
      - run: pnpm build

      # Add coverage report later
      # - name: Coveralls Coverage Report
      #   uses: coverallsapp/github-action@v2
