name: Deploy RenderMD

on:
  repository_dispatch:
  workflow_run:
    workflows: ['CI']
    types: [completed]
    branches: [main]

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    name: Build & Deploy
    if: github.event_name == 'repository_dispatch' || github.event.workflow_run.conclusion == 'success'
    steps:
      - uses: actions/checkout@v6
      - uses: pnpm/action-setup@v4
      - uses: actions/setup-node@v6
        with:
          node-version-file: '.node-version'
          cache: 'pnpm'

      - run: pnpm install
        env:
          NODE_ENV: development
      - run: pnpm build
        env:
          NODE_ENV: production

      - name: Deploy
        uses: cloudflare/wrangler-action@v3
        with:
          accountId: ${{ secrets.CLOUDFLARE_ACCOUNT_ID }}
          apiToken: ${{ secrets.CLOUDFLARE_API_TOKEN }}
          packageManager: 'pnpm'
          command: deploy
